.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.pokemon-container {
  max-width: 600px; /* 任意の最大幅に設定 */
  margin: auto; /* 中央に配置 */
}

.pokemon-content {
  min-height: 300px; /* プレースホルダーの高さを設定 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading {
  font-size: 24px;
  color: #ffffff;
  margin-top: 20px;
}

.pokemon-image {
  width: 200px; /* 画像の幅を設定 */
  height: 200px; /* 画像の高さを設定 */
  object-fit: contain; /* 画像がコンテナ内に収まるように調整 */
}

canvas {
  width: 100% !important; /* 幅を100%に設定 */
  height: auto !important; /* 高さを自動調整 */
}